 body{
    background-image: url("../images/beach.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.home{
    background-color: beige;
    opacity: .9;
    border-radius: 50px;
    box-shadow:5px 5px 5px rgb(105, 163, 163);
    height: 70vh;
}
.prediction{
    
    margin:0 auto;
    padding:20px;
    justify-content: space-between;
}

.coder{
    float: right;
    margin-right: 200px;
    
}
.coder p{
    font-size: 15px;
}
.active{
    color: black;
    text-decoration: none;
}
.active:hover{
    cursor:default;
}